.cabecalho{
    background: linear-gradient(to right, #FF8225, #B43F3F, #173B45);
    padding: 1.7%;
}
.cabecalho2{
    background-color: azure;
    padding: 1.7%;
}
.margem{
    
    padding: 2%;
    margin: 2%;
    background-color: #ffff;
    left: auto;
}
body{
    background: linear-gradient(to right, #B43F3F,#173B45,#FF8225);
}